<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your Profile</title>
</head>
<body>
<div th:if="${profile == null}">
	<h3><strong>Your profile is not set. Click "Edit Profile" to do so.</strong></h3>
</div>
<div th:if="${profile != null}">
	<p><strong>Username: </strong><span th:text="${session.user}"></span></p>
	<br><br>
	<p><strong>Bio: </strong><span th:text="${profile.bio}"></span></p>
	<br><br>
	<p><strong>Age: </strong><span th:text="${profile.age}"></span></p>
	<br><br>
	<p><strong>Gender: </strong><span th:text="${profile.gender}"></span></p>
	<br><br>
	<p><strong>This user:</strong></p>
	<div th:each="roleStategyActionList : ${roleStategyActionList}">
		<p><span th:text="${roleStategyActionList}"></span></p>
	</div>
</div>
<a href="/profile/editProfilePage">Edit Profile</a>
<h3>Back to <a href="/">Home Page</a></h3>
</body>
</html>